.pagination {
	position: absolute;
	height: 50px;
	bottom: 0;
	right: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	gap: 10px;
}

.nav_button {
	width: 50px;
	aspect-ratio: 1/1;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: 1px solid var(--font-color);
	color: #ffd700;
	cursor: pointer;
  font-weight: 600;
  font-family: "Oxanium", sans-serif;
}

.nav_button:active {
  background-color: var(--font-color);
	color: black;
}

.choosed_button {
	background-color: var(--font-color);
	color: black;
}