:root {
	--font-color: #ffd700;
}

.hero_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.node {
  background-color: transparent;
  
  border: 1px solid var(--font-color);
  border-radius: 5px;
  display: inline-block;
  color: var(--font-color);
  padding: 10px;
  font-family: "Oxanium", sans-serif;
  z-index: 1;
}

.starship {
  background-color: black;
}

.edge {
  stroke-width: 1px;
  filter: blur(1px);
}

.edge:active {
  stroke: var(--font-color);
}

.back_button {
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: 600;
  position: absolute;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
  z-index: 3;
  padding: 5px;
  border: 1px solid var(--font-color);
  border-radius: 15px;
  background-color: var(--font-color);
}