body {
	background: black;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
  font-family: "Oxanium", sans-serif;
}

.star0 {
	height: 1px;
  aspect-ratio: 1/1;
	opacity: 1;
	position: absolute;
  background-color: #ffffff;
  box-shadow: 0 0 10px #fff;
}

.star1 {
	height: 1px;
  aspect-ratio: 1/1;
	border-radius: 50%;
	opacity: 1;
	position: absolute;
  z-index: 0;
  background-color: #ffffff;
  animation: flickering 2s ease-in-out infinite;
}

.star2 {
	height: 1px;
  aspect-ratio: 1/1;
	border-radius: 50%;
	opacity: 1;
	position: absolute;
  z-index: 0;
  background-color: #e5ff00;
  animation: flickering 2s ease-in-out infinite;
  animation-delay: 300ms;
}

.star3 {
	height: 1px;
  aspect-ratio: 1/1;
	border-radius: 50%;
	opacity: 1;
	position: absolute;
  z-index: 0;
  background-color: rgb(0, 255, 255);
  animation: flickering 2s ease-in-out infinite;
  animation-delay: 600ms;
}

@keyframes flickering {
  0% {
    opacity: 0.7;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.7;
  }
}

.vader_logo {
	position: absolute;
	top: 20px;
	left: 70px;
  width: 100px;
  z-index: 1;
  animation: swaying 2s ease-in-out infinite;
  user-select: none;
  pointer-events: none;
  filter: drop-shadow(0 0 80px rgb(236, 0, 0));
}

.yoda_logo {
	position: absolute;
	top: 20px;
	right: 70px;
  width: 100px;
  z-index: 1;
  animation: swaying 2s ease-in-out infinite;
  animation-delay: 1s;
  pointer-events: none;
  filter: drop-shadow(0 0 80px rgb(72, 255, 0));
}

@keyframes swaying {
  0% {
    transform: rotate(-3deg);
  }

  50% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}
